<main>
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="card mt-2 bg-light">
                    <div class="card-header">
                        <h5 class="text-center"><b>Product:
                            </b>{{product.name}}<label>&nbsp;&nbsp;&nbsp;
                                <span><b>Quantity: </b>{{product.quantity}}</span></label>
                        </h5>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title text-center">Please enter your details to create order:</h3>
                        <hr>
                        <form (ngSubmit)="onSubmit()" class="was-validated">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="name">Enter your full name:</label> <input type="text"
                                        class="form-control" [(ngModel)]="order.name" name="name"
                                        placeholder="Enter your full name" required>
                                    <div class="valid-feedback">Valid.</div>
                                    <div class="invalid-feedback">Please fill out this field.</div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="address">Enter shipping address:</label> <input type="text"
                                        class="form-control" [(ngModel)]="order.address" name="address"
                                        placeholder="Enter your address" required>
                                    <div class="valid-feedback">Valid.</div>
                                    <div class="invalid-feedback">Please fill out this field.</div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="st">Enter State:</label> <input type="text" class="form-control"
                                        [(ngModel)]="order.state" name="state" placeholder="Enter your state" required>
                                    <div class="valid-feedback">Valid.</div>
                                    <div class="invalid-feedback">Please fill out this field.</div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="cnt">Enter Contact:</label> <input type="number" class="form-control"
                                        [(ngModel)]="order.contact" name="contact" placeholder="Enter your contact"
                                        required>
                                    <div class="valid-feedback">Valid.</div>
                                    <div class="invalid-feedback">Please fill out this field.</div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="qty">Select quantity</label> <select [(ngModel)]="order.quantity"
                                        name="quantity" class="form-control">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>

                                    </select>

                                </div>

                                <div class="form-group col-md-6">
                                    <label for="pmt">Choose payment mode:</label><select [(ngModel)]="order.payment"
                                        (click)="onPay()" name="payment" class="form-control">
                                        <option selected>Choose..</option>
                                        <option value="COD">Cash On Delivery</option>
                                        <option value="Card">Card Payment</option>
                                    </select>
                                </div>

                            </div>
                            <div>
                                <div class="text-center"><button *ngIf="payment" type="submit"
                                        class="btn btn-success btn-lg">Place order</button>
                                    <button *ngIf="!payment" type="button" class="btn btn-success btn-lg"
                                        data-toggle="modal" data-target="#myModal">
                                        Pay now
                                    </button>
                                </div>

                                <!-- The Modal -->
                                <div class="modal fade" id="myModal">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">

                                            <!-- Modal Header -->
                                            <div class="modal-header">
                                                <h4 class="modal-title">Kindly enter your card details</h4>
                                                <button type="button" class="close"
                                                    data-dismiss="modal">&times;</button>
                                            </div>

                                            <!-- Modal body -->
                                            <div class="modal-body">
                                                <form (ngSubmit)="onSubmit()" class="was-validated">
                                                    <div class="form-group">
                                                        <label for="uname">Enter the name on the card:</label>
                                                        <input type="text" class="form-control" id="uname"
                                                            placeholder="Enter the name on card" name="cname" required>
                                                        <div class="valid-feedback">Valid.</div>
                                                        <div class="invalid-feedback">Please fill out this field.
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="crd">Enter your card number:</label>
                                                        <input type="number" class="form-control" id="crd"
                                                            placeholder="Enter the card number" name="cnumber" required>
                                                        <div class="valid-feedback">Valid.</div>
                                                        <div class="invalid-feedback">Please fill out this field.
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="cvvn">Enter your CVV number:</label>
                                                        <input type="password" class="form-control" id="cvvn"
                                                            placeholder="Enter your cvv" name="cvv" required>
                                                        <div class="valid-feedback">Valid.</div>
                                                        <div class="invalid-feedback">Please fill out this field.
                                                        </div>
                                                    </div>

                                                    <div class="form-group form-check">
                                                        <label class="form-check-label">
                                                            <input class="form-check-input" type="checkbox"
                                                                name="remember" required> I agree to the terms and
                                                            conditions.
                                                            <div class="valid-feedback">Valid.</div>
                                                            <div class="invalid-feedback">Check this checkbox to
                                                                continue.</div>
                                                        </label>
                                                    </div>
                                                    <div>
                                                        <h5>Payable amount =
                                                            Rs. {{(this.order.quantity) * (this.product.price)}}
                                                        </h5>
                                                    </div>
                                                    <button type="submit" class="btn btn-success">Make Payment</button>
                                                </form>
                                            </div>

                                            <!-- Modal footer -->
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger"
                                                    data-dismiss="modal">Cancel</button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>


                        </form>
                    </div>
                    <div class="card-footer">
                        <h5 class="text-center">Total payable amount = Rs. {{(this.order.quantity) *
                            (this.product.price)}}
                        </h5>

                    </div>
                </div>
            </div>

        </div>
    </div>
</main>