<br><br><br><br>
<main>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card mx-auto bg-light">
                    <div class="card-body">
                        <h1 class="card-title">Admin Dashboard</h1>
                        <p class="card-text">Welcome <b>Admin</b>.Love to see you again!</p>
                        <div class="card-deck">
                            <div class="card bg-info">
                                <div class="card-body">
                                    <h4 class="card-title">Add Grocery Items</h4>
                                    <p class="card-text">Add new items to your stock list. </p>
                                    <a routerLink="/add-item" role="button" class="btn btn-danger btn-block"><b>Add
                                            Items</b>
                                    </a>
                                </div>
                            </div>
                            <div class="card bg-warning">
                                <div class="card-body">
                                    <h4 class="card-title">Show Grocery Items</h4>
                                    <p class="card-text">Display all available grocery items.</p>
                                    <a routerLink="/all-items" role="button" class="btn btn-danger btn-block"><b>Show
                                            Items</b></a>
                                </div>
                            </div>
                            <div class="card bg-success">
                                <div class="card-body">
                                    <h4 class="card-title">Show Orders</h4>
                                    <p class="card-text">Display all orders created by users.</p>
                                    <a routerLink="/all-orders" role="button" class="btn btn-danger btn-block"><b>Show
                                            Orders</b></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>